---
import "@fontsource-variable/bricolage-grotesque";
import "@fontsource-variable/unbounded";
import "@fontsource-variable/outfit";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Genius Monkey - next generation programmatic ad platform." } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
